/* styles/globals.css */
.body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    margin: 50px;
}

.body-part {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    position: relative;
}

.arrow {
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: black;
}

.arrow-up {
    transform: rotate(-45deg);
}

.arrow-down {
    transform: rotate(135deg);
}

.arrow-left {
    transform: rotate(-135deg);
}

.arrow-right {
    transform: rotate(45deg);
}

.hand-selected {
    fill: yellow;
    cursor: pointer;
}